/* Main Page */
.login{
    position: relative;
    width: 1440px;
    height: 900px;

    background: #F5F5F5;
}

/* FundNGO image*/

.donors{
    position: absolute;
    width: 405px;
    height: 407px;
    left: 149px;
    top: 231px;
}

/* FundNGO logo*/
.logo{
    position: absolute;
    width: 478px;
    height: 100px;
    left: 777px;
    top: 86px;
}


/* White card*/
.login-card{
    position: absolute;
    width: 557px;
    height: 518px;
    left: 737px;
    top: 226px;
    background: #FFFFFF;
    box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.18);
    border-radius: 16px;
}


/* Form rectangle */

position: absolute;
width: 433px;
height: 60px;
left: 799px;
top: 316px;

border: 1px solid #8F8F8F;
box-sizing: border-box;
border-radius: 8px;


/* Login Button */

position: absolute;
width: 433px;
height: 60px;
left: 799px;
top: 603px;

background: #2F3E46;
border-radius: 8px;


/* LOGIN */


position: absolute;
width: 107px;
height: 25px;
left: 799px;
top: 281px;

font-family: Gilroy-SemiBold;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #84A98C;


/* Don’t have an account? SIGN UP */

position: absolute;
width: 350px;
height: 25px;
left: 968px;
top: 784px;

font-family: Gilroy-SemiBold;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #354F52;


/* PASSWORD */

position: absolute;
width: 135px;
height: 25px;
left: 799px;
top: 416px;

font-family: Gilroy-SemiBold;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #84A98C;