@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), 
        url('./fonts/Gilroy-Medium.ttf') format('truetype'),
        url('./fonts/Gilroy-Regular.ttf') format('truetype'),
        url('./fonts/Gilroy-Black.ttf') format('truetype'),
        url('./fonts/Gilroy-Bold.ttf') format('truetype'),
        url('./fonts/Gilroy-ExtraBold.ttf') format('truetype'),
        url('./fonts/Gilroy-Heavy.ttf') format('truetype'),
        url('./fonts/Gilroy-Light.ttf') format('truetype'),
        url('./fonts/Gilroy-SemiBold.ttf') format('truetype'),
        url('./fonts/Gilroy-Thin.ttf') format('truetype');
}

a{
  color: #354F52;
}

a:hover{
  color: #243036;
}

*{
  font-family: Gilroy
}

/* -------- Login Page ----------*/
.App{
  align-items: center;
  background-color: #FFFFFF;
  height: 100vh;
  
}
/* ----------------------------- */

.donors{
  width: 405px;
  height: 405px;
}

.logo-dark{
  width: 525px;
  height: 95px;
  padding-right: 75px;
  margin-left: 50px;
}

.logo-light{
  width: 280px;
  height: 55px;
  margin: 20px;
}

.login-card{
  width: 500px;
  height: 400px;
  background: #FFFFFF;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.18);
  border-radius: 16px;
  padding: 55px;
  padding-top: 40px;
}

.login-btn{
  width: 100%;
  background: #2F3E46;
  border-radius: 8px;
  margin-top: 40px;
}

.login-btn:hover{
  background: #243036;
}

.role-header{
  width: 100%;
  align-items: center;
  text-align: center;
  height: 100px;
  background-color: #354F52;
}

.donor-card{
  background-color: #CBE896;
  box-shadow: 0px 28px 44px rgba(47, 62, 70, 0.08);
  border-radius: 19px;
  width: 260px;
  height: 290px;
  padding: 25px;
  padding-top: 40px;
  text-align: center;
}

.ngo-card{
  background-color: #CAD2C5;
  box-shadow: 0px 28px 44px rgba(47, 62, 70, 0.08);
  border-radius: 19px;
  width: 260px;
  height: 290px;
  padding: 25px;
  padding-top: 40px;
  text-align: center;
}

.register-card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.18);
  border-radius: 16px;
  padding: 55px;
  padding-top: 40px;
  color: #84a98c;
}

.my-nav {
  position: absolute;
  width: 260px;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 35px;
  padding-top: 20px;
  background: #354f52;
}

.my-nav a {
  color: #57777a;
  margin-bottom: 25px;
}

.donate-scheme-card {
  width: 344px;
  height: 321px;

  background: #ffffff;
  padding: 35px;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.08);
  border-radius: 12px;
}

.dsc-date {
  height: 22px;
  margin: 10px;
  background: #eeeeee;
  border-radius: 14px;
}

.total-donate-card {
  width: 650px;
  height: 321px;
  padding: 35px;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.08);
  border-radius: 12px;
}

.about-us-card {
  text-align: center;
  width: 461px;
  height: 340px;
  background: #ffffff;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.08);
  border-radius: 12px;
}

.page-headings{
  font-size: 36px;
  color: #354F52;
  line-height: 42px;
  font-weight: '500';
}

.page-subheadings{
  color: #CAD2C5;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 100;
}

.donor-name{
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  padding-right: 20px;
  color: #354F52;
}

.donor-balance-card {
  width: 360px;
  height: 260px;
  background-color: rgba(132, 169, 140, 0.3);
  box-shadow: 0px 4px 24px rgba(192, 192, 192, 0.25);
  border-radius: 12px;
  text-align: center;
  color: #354F52;
  padding: 15px;
}

.add-tokens{
  font-family: inherit;
  color: #354F52;
  border-style: none;
  background: #EEEEEE;
  border-radius: 12px;
  width: 250px;
  height: 55px;
}

.add-tokens:hover{
  background: #354F52;
  color: #eeeeee;
}