@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Medium.ttf") format("truetype"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype"),
    url("./fonts/Gilroy-Black.ttf") format("truetype"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype"),
    url("./fonts/Gilroy-ExtraBold.ttf") format("truetype"),
    url("./fonts/Gilroy-Heavy.ttf") format("truetype"),
    url("./fonts/Gilroy-Light.ttf") format("truetype"),
    url("./fonts/Gilroy-SemiBold.ttf") format("truetype"),
    url("./fonts/Gilroy-Thin.ttf") format("truetype");
}

a {
  color: #354f52;
}

a:hover {
  color: #243036;
}

* {
  font-family: Gilroy;
}


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #354F52; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D4DFD6; 
}

/* -------- Login Page ----------*/
.App {
  align-items: center;
  background-color: #E5E5E5;
  height: 100vh;
}
/* ----------------------------- */

.donors {
  width: 405px;
  height: 405px;
}

.logo-dark {
  width: 525px;
  height: 95px;
  padding-right: 75px;
  margin-left: 50px;
}

.logo-light {
  width: 280px;
  height: 55px;
  margin: 20px;
}

.login-card {
  width: 500px;
  height: 400px;
  background: #ffffff;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.18);
  border-radius: 16px;
  padding: 55px;
  padding-top: 40px;
}

.login-btn {
  width: 100%;
  background: #2f3e46;
  border-radius: 8px;
  margin-top: 40px;
}

.login-btn:hover {
  background: #243036;
}

.role-header {
  width: 100%;
  align-items: center;
  text-align: center;
  height: 100px;
  background-color: #354f52;
}

.donor-card {
  background-color: #cbe896;
  box-shadow: 0px 28px 44px rgba(47, 62, 70, 0.08);
  border-radius: 19px;
  width: 260px;
  height: 290px;
  padding: 25px;
  padding-top: 40px;
  text-align: center;
}

.ngo-card {
  background-color: #cad2c5;
  box-shadow: 0px 28px 44px rgba(47, 62, 70, 0.08);
  border-radius: 19px;
  width: 260px;
  height: 290px;
  padding: 25px;
  padding-top: 40px;
  text-align: center;
}

.register-card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.18);
  border-radius: 16px;
  padding: 55px;
  padding-top: 40px;
  color: #84a98c;
}

.my-nav {
  position: fixed;
  width: 270px;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 35px;
  padding-top: 20px;
  background: #354f52;
  letter-spacing: 1px;
  /* font-weight: bold; */
}

.my-nav a {
  color: #57777a;
  margin-bottom: 25px;
}

.donate-scheme-card {
  width: 344px;
  height: 321px;

  background: #ffffff;
  padding: 35px;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.08);
  border-radius: 12px;
}

.dsc-date {
  height: 32px;
  padding: 5px;
  width: 170px;
  margin: 10px;
  background: #cad2c5;
  border-radius: 14px;
  text-align: center;
}

.total-donate-card {
  width: 1400px;
  height: 280px;
  padding: 35px;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.08);
  border-radius: 12px;
  margin: 25px;
}

.fund-token-card{
  width: 220px;
  height: 200px;
  text-align: center;
  border-radius: 9px;
  margin: 10px;
  padding: 15px;
  padding-top: 20px;
}

.about-us-card {
  text-align: center;
  width: 461px;
  height: 340px;
  background: #ffffff;
  box-shadow: 0px 12px 45px rgba(47, 62, 70, 0.08);
  border-radius: 12px;
}

.page-headings {
  font-size: 36px;
  color: #354f52;
  line-height: 42px;
  font-weight: "500";
}

.page-subheadings {
  color: #b2bdab;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 100;
  letter-spacing: 0.05rem;
}

.wallet-address:hover{
  text-decoration: underline;
}

.donor-name {
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  padding-right: 20px;
  color: #354f52;
}

.donor-balance-card {
  width: 360px;
  height: 260px;
  background-color: rgba(132, 169, 140, 0.3);
  box-shadow: 0px 4px 24px rgba(192, 192, 192, 0.25);
  border-radius: 12px;
  text-align: center;
  color: #354f52;
  padding: 15px;
}

.add-tokens {
  font-family: inherit;
  color: #354f52;
  border-style: none;
  background: #eeeeee;
  border-radius: 12px;
  width: 250px;
  height: 55px;
}

.add-tokens:hover {
  background: #354f52;
  color: #eeeeee;
}

.logout {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0px;
  padding: 53px;
  color: '#ffffff'
}

.txrow{
  /* display: 'flex'; */
  white-space: 'nowrap';
  width: 1200px;
  height: 50px;
  background: #ffffff;
  border-radius: 9px;
  margin: 28px;
  margin-left: 0px;
  padding: 10px;
  padding-left: 25px;
}